[Desktop Entry]
Type=Application
Exec=dconf-insurance.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=dconf-insurance
Comment=Backup and restore the dconf user database.
